:root {
  --white: #fff;
  --light-100: #F8F9FA;
  --light-200: #DBE0E5;
  --light-300: #BEC7D0;
  --light-400: #677A8E;
  --accent-1: #5800FF;
  --accent-2: #E900FF;
  --accent-3: #FFAA00;
  --dark: #111418;
}

/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-100);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--dark);

  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--dark);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  line-height: 160%;
}
